aside {
	width: 21%;
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	border: 1px solid rgb(255,176,00);
	display: inline-block;
	float: right;
}

.large{
	width: 35%;
}


@media (max-width: 800px) {
	aside {
		width: 95%;
		float: unset;
		margin: auto;
		max-width: 400px;
		display: block;
		padding: 8px;
	}

	.large {
		width: 95%;
	}
}

#content {
	display: inline-block;
	font-size: 18px;
	/*margin-left: 15%;*/
}